<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Attendance Management System</title>
</head>
<body>
    <div id="app">
        <label for="date_sel">Select a Date: </label>
        <input type="date" name="date_sel">
        <button type="button">Search</button>

        <button type="button" id="fetch_attendance" style="margin-left: 300px;">Fetch Attendance Report</button>
        
        <div id="attendance_status"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
</body>
</html>